<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header('To Do List')">
</head>
<body>
<div class="container">
    <nav th:replace="template::nav"></nav>
    <div>Welcome to <span th:text="${name}"></span></div>
    <hr>
    <h1>Your To Do List</h1>
    <table class="table">
        <thead>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Done</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr th:each="todo:${todos}">
            <td th:text="${todo.description}"></td>
            <td th:text="${todo.targetDate}"></td>
            <td th:text="${todo.done}"></td>
            <td>
                <a class="btn btn-success" th:href="@{/edit/{id}(id=${todo.id})}">Update</a>
                <a class="btn btn-danger" th:href="@{/delete(id=${todo.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/add-to-do}" class="btn btn-success">Add To Do</a>
</div>

</body>
<div th:replace="template::code"></div>
</html>