<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::header('ToDoForm')">

</head>
<body>
<div class="container">
    <nav th:replace="template::nav"></nav>
    <h1>Enter To Do Details</h1>
    <form action="#" th:action="@{/add}" method="post" th:object="${todo}">
        <input type="hidden" id="id" th:field="*{id}">
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" th:field="*{description}">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
        </div>
        <div class="mb-3">
            <label for="targetDate" class="form-label">Target</label>
            <input type="date" class="form-control" id="targetDate" th:field="*{targetDate}" th:value="*{targetDate}">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('targetDate')}" th:errors="*{targetDate}" />
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="done" th:field="*{done}" th:value="*{done}">
            <label class="form-check-label" for="done">Done?</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
</body>
<div th:replace="template::code"></div>
<script type="text/javascript" >
    $("#targetDate").datepicker({
        format: 'yyyy-mm-dd'
    });
</script>
</html>