<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <p th:text="|Welcome Mr ${name}|"></p>
    <div><a th:href="@{/list}">Manage</a> your todos</div>
</div>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</html>